
<div class="container">
	* Testing quotes from random  <strong> amazing people </strong> *  
  <h1><center>Create Quote</center></h1>
  <%= form_for @quote, url:{action:"quote_create"} do |form| %>
    <% if @quote.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quotedetail from being saved:</h2>

        <ul>
          <% @quote.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :quote %>
      <%= form.text_area :quotes, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :author %>
      <%= form.text_field :author , class: 'form-control' %>
    </div>
    
    <div class="actions">
      <%= form.submit "Create", class: "btn btn-success btn-block mt-3" %>
    </div>
  <% end %>

  <hr>
  User can edit and delete quotes ( status: pending )
<% @quotes.each do |quote| %>

	<blockquote class="blockquote mt-3" style="background-color: #d4d4d4">
	  <p class="mb-0"><%= quote.quotes %></p>
	  <footer class="blockquote-footer">
	  	<cite title=<%= quote.author %> ><%= quote.author %> </cite>
	  	<% if quote.status != "approved" %>
		  	<span class="pl-5"> <%= link_to "Edit", quotes_edit_path(quote.id) %> || <%= link_to "Delete", quotes_delete_path(quote), method: :delete, data: { confirm: 'Are you sure to Delete?' }, class: "text-danger " %></span>
	  	<% end %>
	  </footer>
	</blockquote>

	<% if quote.status != "approved" %> <hr> <% end %>

<% end %>

