<div class="container">
  <h1><center>Edit <%= @plant.plant_name %></center></h1>
  <hr>
  <%= form_for @plant do |form| %>
    <% if @plant.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@plant.errors.count, "error") %> prohibited this plantdetail from being saved:</h2>

        <ul>
          <% @plant.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field my-2">
      <%= form.label :plant_name %>
      <%= form.text_field :plant_name, class: "form-control" %>
    </div>

    <div class="field my-2">
      <%= form.label :diffcuilt %>
      <%= form.text_field :diffcuilty, class: "form-control" %>
    </div>

    <div class="field my-2">
      <p class="mb-2">Problems/Description</p>
      <%= form.text_area :problems, class: "form-control",  rows: "5" %>
    </div>
    <center>
    <div class="field mb-2 mt-4 ">
      <%= form.label :seeded_date %> 
      <%= form.date_select(:seed_date, :prompt => true) %>
    </div>

    <div class="field my-2">
      <%= form.label :sprouted_date %>
      <%= form.date_select(:sprout_date, :prompt => true) %>
    </div>

    <div class="field my-2">
      <%= form.label :Harvested_at %>
      <%= form.date_select(:harvest_date, :prompt => true) %>
    </div>

    <div class="field my-2">
      <%= form.label :flowering_date %>
      <%= form.date_select(:flower_date, :prompt => true) %>
    </div>
  </center>

    <div class="actions">
      <center>
      <%= form.submit "Update changes", class: "btn btn-warning mb-3" %>
    </center>
    </div>
<% end %>
</div>
  <style >
 .neat {
  min-height: calc(100vh - 140px);
 }
</style>
