<div class="container">
  <h1><center>Create Plant Details</center></h1>
  <%= form_for @plant do |form| %>
    <% if @plant.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@plant.errors.count, "error") %> prohibited this plantdetail from being saved:</h2>

        <ul>
          <% @plant.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :plant_name %>
      <%= form.text_field :plant_name, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :diffcuilty %>
      <%= form.select :diffcuilty, options_for_select([
        ["Select One", ""], 
        "Easy", 
        "Medium", 
        "Hard"]), 
        {}, { class: "form form-group form-control" } %>
    </div>

    <div class="field">
      <%= form.label :problems %>
      <%= form.text_area :problems, class: "form-control",  rows: "5" %>
    </div>

    <center>
    <div class="field mb-2 mt-4 ">
      <%= form.label :seeded_date %> 
      <%= form.date_select(:seed_date, :prompt => true) %>
    </div>

    <div class="field my-2">
      <%= form.label :sprouted_date %>
      <%= form.date_select(:sprout_date, :prompt => true) %>
    </div>

    <div class="field my-2">
      <%= form.label :Harvested_at %>
      <%= form.date_select(:harvest_date, :prompt => true) %>
    </div>

    <div class="field my-2">
      <%= form.label :flowering_date %>
      <%= form.date_select(:flower_date, :prompt => true) %>
    </div>
  </center>

    <div class="actions">
      <%= form.submit "Create", class: "btn btn-success btn-block mt-3" %>
    </div>
  <% end %>
</div>
  <style >
 .neat {
  min-height: calc(100vh - 140px);
 }
</style>
