<h1 class="mt-5"><center>How this works</center></h1>
<div class="container mt-5">
	<span>Nice to see you here.Using this website is so easy, this website is used to save all your Plant details digitally.You can save as many plant details you want.</span><br><br>
	<span>To get better understanding i attached <strong>Images</strong> to steps.<span class="text-danger"> Any doubt/query please feel free to mail me <strong><a href="mailto:info.plantlove@gmail.com">info.plantlove@gmail.com</a></strong></span></span>
<div class="row mt-4">
	<div class="col-lg-5 mt-2">
      <h4 ><center>Sign-up/Log-in</center></h4>
      In order to use this website User should have account, so <%= link_to "Sign up", new_user_registration_path %> to get an account.
      <br>
      After Sign up please <%= link_to "Log-in", new_user_session_path %>
	</div>
	<div class="col-12 col-lg-3 "><%= image_tag 'how_it_works/1.jpeg', width: "200px" %></div>
	<div class="col-12 col-lg-3 mt-2 "><%= image_tag 'how_it_works/2.jpeg', width: "200px" %></div>
</div>
<hr>
<div class="row mt-3">
	<div class="col-lg-5 mt-2"><h4>
		<center>After Log-in</center></h4>
		After log-in you redirect to home page, you can create new Plant details using blue button
	</div>
	<div class="col-12 col-lg-3"><%= image_tag 'how_it_works/3.jpeg', width: "200px" %></div>
</div>
<hr>
<div class="row">
	<div class="col-lg-5 mt-2">
		<h4><center>Create Plant details</center></h4>
        After clicked on create plantdetails, you redirected to create page for plant details.<br>
        In this page you can fill your plant details like (Plant name, seed date, sprout date, harvest date, flower date and problems/description ) and submit it to save plant details. 
	</div>
	<div class="col-12 col-lg-3"><%= image_tag 'how_it_works/4.jpeg', width: "200px" %></div>
</div>
<hr>
<div class="row">
	<div class="col-lg-5 mt-2">
		<h4><center>Show/view Plant details</center></h4>
		After clicked on submit, your plant details are saved and redirected to home page, in home page you can view all your plant details in very stylish look.
	</div>
	<div class="col-12 col-lg-3"><%= image_tag 'how_it_works/6.jpeg', width: "200px" %></div>
</div>
<hr>
<div class="row">
	<div class="col-lg-5 mt-2">
		<h4><center>Edit/Delete Plant details</center></h4>
		You can view your plant details by clicking on show button, this page shows the details of plant what you have saved, <br>you can also edit details by click on edit button on show page <br>
		You can delete Plant details also by clicking delete button.
	</div>
	<div class="col-12 col-lg-3"><%= image_tag 'how_it_works/7.jpeg', width: "200px" %></div>
	<div class="col-12 col-lg-3"><%= image_tag 'how_it_works/9.jpeg', width: "200px" %></div>
</div>
<hr>
<div class="row mb-5">
	<div class="col-lg-5 mt-2">
		<h4><center>Manage all plants in Table view</center></h4>
		You can also manage all your plant details in table view.<br>
		For that click on menu symbol on top-right corner and click on Manage button.
	</div>
	<div class="col-12 col-lg-3"><%= image_tag 'how_it_works/10.jpeg', width: "200px" %></div>
	<div class="col-12 col-lg-3 mt-3 "><%= image_tag 'how_it_works/11.jpeg', width: "200px" %></div>
</div>

</div>
<style>
	.neat {
	  min-height: calc(100vh - 120px);
	 }
</style>