<% flash.each do |name, msg| %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <center><%= msg %></center>
  </div>
<% end %>
<!-- Jumbotron -->
<div class="jumbotron p-0">

  <!-- Card image -->
  <div class="view overlay rounded-top">
  	<%= image_tag("4e.jpg", :width => "100%", :alt => "Nature Image") %>
    <a href="#">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center mb-3">

    <!-- Title -->
    <h3 class="card-title h3 my-4"><strong>Plant Managment Web application</strong></h3>
    <!-- Text -->
    <p class="card-text py-2">Wish you want to track all your plant details? You are in Right place!!!</p>
    <!-- Button -->
    <%= link_to "Signup",  new_user_registration_path, class: "btn btn-warning mr-3", style: "border-radius: 17px" %>
    <%= link_to "Log-in",  new_user_session_path, class: "btn btn-success ml-3", style: "border-radius: 17px" %>

  </div>

</div>
<!-- Jumbotron -->


<div class="container">
<div class="row mb-4">
	
	<div class="col-12 col-lg-6 col-md-6">
    <%= image_tag("5.jpg", :width => "100%", :alt => "Nature Image") %>
		
	</div>

	<div class="col-12 col-lg-6 col-md-6 ">
    <center><h3 class="mb-2 mt-2">About this App/Website</h3></center>
		By using this <strong>Plant love management</strong> you can track all your <strong>Plant Details</strong> like  when you seeded/planted particular plant/seed along with date and day.<br> If any Problem that occur during growth of particular plant, you can able to save all the data.<br>
    you can create many plant details as you want.<br> Basically this is an online plant details managment system.<br>
    <center>
      <%= link_to "How it works ->", "#" , class: "btn btn-info btn-sm my-3" %>
    </center>

	</div>
</div>

<hr>
<div class="row mb-4">

  <div class="col-12 col-lg-6 ">
    <center><h3 class="mb-1">Why this App/Website</h3></center>
    This is my Fisrt web application, for learning purpose i coded this app <span class="text-danger"><small>with love</small></span> and also i have an idea to track all my plant details like when i seeded/planted, sprouted and harvested plants. So i did it.<br> Every user has an secure account, Passwords are Fully Encrypted, so no worries <br> 
    <center>
      <%= link_to "About Me", "#" , class: "btn btn-info btn-sm my-3" %>
    </center>

  </div>


  
  <div class="col-12 col-lg-6 ">
    <%= image_tag("4e.jpg", :width => "100%", :alt => "Nature Image") %>
  </div>


</div>


</div>

<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay">
        <%= image_tag("res.png", :alt => "Responsive", class: "img-fluid") %>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">


      <h4 class="h4 mb-4">Mobile Friendly Website</h4>

      <p class="font-weight-normal">This Website is Mobile Friendly and also <strong>Responsive</strong> to every device<br> If anything goes wrong Please free to query us</p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->
