<!DOCTYPE html>
<html>
  <head>
    <title>Plantlove</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: '/shared/navbar' %>
    <div class="neat"><%= yield %></div>
    <%= render partial: 'shared/footer' %>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script >
      window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 2500);
    </script>
  </body>
</html>
