<!DOCTYPE html>
<html>
  <head>
    <title>Plantlove</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: '/shared/navbar' %>
    <div class="neat"><%= yield %></div>
    <% if current_user && current_user.admin? %>
    <div>
      <button type="button" class="btn btn-danger btn-sm btn-disabled admin">ADMIN</button>
    </div>
    <% end %>
    <%= render partial: 'shared/footer' %>
    <script >
          window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove(); 
            });
        }, 5000);
    </script>
    <style>
      .admin {
        position: fixed;
        z-index: 999;
        right: 0;
        top: 115px;
      }
    </style>
  </body>
</html>
